@media only screen and (max-width: 1024px) {
	.single-portfolio .portfolio .vc_row.wpb_row.vc_row-fluid { width: 994px; }
	.single-portfolio .portfolio .om-wpb_row { padding-left: 0; padding-right: 0; }
	.page-id-636.modal-open .modal-dialog { top: 50%; left: 50%; float: left; margin-top: -315px; margin-left: -316px; position: absolute; z-index: 99999; overflow: auto; }
	.vc_om-person.om-person-style-colored .om-person-name-job { height: 120px; }
}

@media only screen and (max-width: 980px) {
	.single-portfolio .portfolio .vc_row.wpb_row.vc_row-fluid { width: 949px; }
}

@media only screen and (max-width: 768px) {
	.single-portfolio .portfolio .vc_row.wpb_row.vc_row-fluid { width: 767px; }
	.modal-open .modal-dialog { margin: 10px !important; width: auto !important; position: relative !important; top: 0 !important; left: 0 !important; float: none !important; z-index: 99999 !important; overflow: auto !important; }
	.om-person-readmore { visibility: visible; margin-bottom: 25px; height: auto; }
	.vc_om-person.om-person-style-colored:hover .om-person-name-job { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
	.vc_om-person.om-person-style-colored:hover .om-person-photo img { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
	.single-portfolio .portfolio .vc_custom_1441134053801 { margin-top: 0 !important; margin-bottom: 0 !important; }
	.single-portfolio .portfolio .row-layout-standard:nth-child(3) .vc_column_container { padding: 0 15px !important; }
	.vc_om-person.om-person-style-colored .om-person-name-job { height: 190px; }
	#menu-item-2523 a {padding-left:18px; padding-right:18px;}
	/*Worldwide locations table*/
	.large-wwloc{display:none;}
	.small-wwloc{display:block;}
}
@media screen and (min-width:769px){
	.large-wwlock{display:block;}
	.small-wwloc{display:none;}
}

@media only screen and (max-width: 767px) {
	.content .om-person-name-job-social { width: 260px; margin: 0 auto; }
	.vc_om-person.om-person-style-colored { height: 400px; }
	body { min-width: 320px; word-wrap: break-word; }
	.one-half,  .one-third,  .two-third,  .one-fourth,  .three-fourth,  .one-fifth,  .two-fifth,  .three-fifth,  .four-fifth,  .one-sixth,  .five-sixth { float: none; margin: 1em 0; width: auto; }
	/* Header */
		 
	.header-tagline,  .header-socials,  .header-wpml-selector { float: none; margin: 1em 0; text-align: center; }
	.header-wpml-selector #lang_sel { display: inline-block; text-align: left; }
	.header-wpml-selector #lang_sel_list { display: inline-block; }
	.header-socials [class^="social-icon"],  .header-socials [class*=" social-icon"] { margin-left: 0.2em; margin-right: 0.2em; }
	.logo-menu-wrapper { display: block; }
	.logo-menu-wrapper .logo-box,  .logo-box { display: inline-block; text-align: center; margin: 0 auto; padding-right: 0; width: auto !important; }
	.logo-image img { margin: 0 auto; }
	.header-logo .logo-text a,  .header-logo-menu-wrapper:not(.menu-stuck) .logo-text a { color: inherit !important; }
	.header-secondary-menu,  .logo-menu-wrapper .menu-box,  .header-menu,  .header-mid.logo-type-none { display: none; }
	.custom-header-bg-transparent header { position: static; }
	.custom-header-bg-transparent .header-top,  .custom-header-bg-transparent .header-logo-menu,  .custom-header-bg-transparent .header-logo,  .custom-header-bg-transparent .header-menu { border-bottom-width: 1px; }
	.custom-header-bg-transparent .logo-set-default { display: none; }
	.custom-header-bg-transparent .logo-set-fixed-menu { display: block; }
	.page-title-inner { padding-top: 0 !important; }
	.page-title-wrapper.title-margins-medium .container-inner,  .page-title-wrapper.title-margins-large .container-inner,  .page-title-wrapper.title-margins-xlarge .container-inner,  .page-title-wrapper.title-margins-xxlarge .container-inner { padding: 10vw 0 15vw !important; }
	.page-title-wrapper.title-size-large h1,  .page-title-wrapper.title-size-xlarge h1,  .page-title-wrapper.title-size-xxlarge h1 { font-size: 250%; }
	
	/* Header Menu */	 
	.header-mobile-menu,  .mobile-header-menu-wrapper { display: block; }

	/* Footer */	 
	.with-sub-footer-text .sub-footer-menu-social,  .with-sub-footer-text .sub-footer-text { float: none; text-align: center; margin: 1em 0; width: auto; }
	.footer-social-icons [class^="social-icon"], .footer-social-icons [class*=" social-icon"] { margin: 0 0.25em 0.5em; }
	.uncovering-footer footer { position: static; }
	.uncovering-footer .hc-wrapper { margin-bottom: 0 !important; }

	/* Sidebar */	 
	.sidebar-display .content-column-sidebar,  .sidebar-display .content-column-content,  .sidebar-display.flip-sidebar .content-column-sidebar,  .sidebar-display.flip-sidebar .content-column-content { float: none; width: auto; }
	.sidebar-display .content-column-sidebar { margin-top: 2em; }
	
	/* Comments */
	#commentform .one-third { width: auto; float: none; margin-right: 0; }

	/* Blog */
	.blogroll.layout-small .post-media,  .blogroll.layout-medium .post-media { margin: 1em auto; float: none; width: auto; }
	.blogroll.layout-small .post-media { max-width: 348px; }
	.blogroll.layout-medium .post-media { max-width: 557px; }

	/* Gallery */	 
	.custom-gallery .item-caption,  .gallery-sliced .item-caption,  .gallery-masonry .item-caption,  .gallery-grid .item-caption { font-size: 85%; padding: 0.1em 0.3em; line-height: 1.3; }

	/* Gallery Masonry/Grid */
 
	/* Sticky menu */
	.menu-sticky-node.menu-stuck,  .admin-bar .menu-sticky-node.menu-stuck { position: relative; z-index: auto; top: 0; }
	.menu-position-top_fixed .menu-sticky-node .container-wrapper:before { display: none; }
	
	/* WPB */
	.vc_call_to_action.vc_cta_btn_pos_left .vc_cta-inner,  .vc_call_to_action.vc_cta_btn_pos_right .vc_cta-inner,  .vc_call_to_action.vc_cta_btn_pos_left .vc_cta-text,  .vc_call_to_action.vc_cta_btn_pos_right .vc_cta-text,  .vc_call_to_action.vc_cta_btn_pos_left .vc_cta-button,  .vc_call_to_action.vc_cta_btn_pos_right .vc_cta-button { display: block; padding: 0; }
	.vc_call_to_action.vc_cta_btn_pos_left .vc_cta-inner,  .vc_call_to_action.vc_cta_btn_pos_right .vc_cta-inner { padding: 1.5em; width: auto; text-align: center; }
	.vc_om-pricing-table-inner,  .vc_om-ptc { display: block; }
	.vc_om-ptc.vc_om-ptc-featured .vc_om-ptc-inner { box-shadow: none !important; margin: -1px; padding-top: 1px; padding-bottom: 1px; }
	.vc_om-click-box.om-cb-size-md .om-cb-inner { font-size: 140%; padding: 1.5em; }
	.vc_om-click-box.om-cb-size-lg .om-cb-inner { font-size: 160%; padding: 1.5em; }
	.vc_om-click-box.om-cb-size-xlg .om-cb-inner { font-size: 180%; padding: 1.5em; }
	.wpb_column.vc_column_delimiter-vline:after,  .wpb_column.vc_column_delimiter-hline:after,  .wpb_column.vc_column_delimiter-dot:after,  .wpb_column.vc_column_delimiter-rarr:after { display: none; }
	blockquote, .blockquote { font-size: 120%; }
	.om_theme .wpb_column > .wpb_wrapper > *:last-child { margin-bottom: 2em; }
	span.mobile_letstalk { background: #0e73a3; color: #fff; padding: 8px 30px !important; margin: 23px 0; display: block; width: auto; float: right; font-weight: 500; line-height: 23px; text-transform: uppercase; }
	span.mobile_letstalk a { color: #fff; }
	.mobile-header-menu-container .header-menu-mobile .talk { display: none; }
	.single-portfolio .portfolio .vc_row.wpb_row.vc_row-fluid { width: 735px; }
	.logo-box { float: left; }
	.toggle { width: auto; float: right; margin: 15px 0 0 20px; }
	.toggle:before { content: '\f0c9'; font-family: 'FontAwesome'; font-size: 34px; }
	.header-mobile-menu { float: left; width: 100%; padding: 0; border-bottom: 0; }
	.mobile-header-menu-control { display: none; }
	.toggle { margin: 12px 0 0 8px; }
	span.mobile_letstalk { padding: 4px 25px !important; }
	.logo-menu-wrapper .logo-box { padding: 24px 0; }
	.portfolio .vc_custom_1441134053801 .wpb_text_column { margin-top: 50px !important; margin-bottom: 50px !important; }
}

/**
 * Grid blog
 */
 
@media only screen and (max-width: 780px) {
	.blogroll.layout-grid-3 section { margin-right: -8.65%; }
	.blogroll.layout-grid-3 .blogroll-item { float: left; width: 44%; margin: 0 4% 30px 0; }
}

@media only screen and (max-width:667px) {
	.single-portfolio .portfolio .vc_row.wpb_row.vc_row-fluid { width: 666px; }
}

@media only screen and (max-width: 580px) {
	.blogroll.layout-grid-2 section { margin-right: 0; }
	.blogroll.layout-grid-2 .blogroll-item { width: auto; margin-right: 0; float: none; }
	.single-portfolio .portfolio .vc_row.wpb_row.vc_row-fluid { width: 537px; }
	.single-portfolio .portfolio .row-layout-standard:nth-child(3) .vc_column_container { padding: 0 !important; }
	.single-portfolio .portfolio .vc_column_container { padding: 0 !important; }
}

@media only screen and (max-width: 480px) {
	.vc_om-table-style-1{font-size:14px;}
	.single-portfolio .portfolio .vc_row.wpb_row.vc_row-fluid { width: 450px; }
	.portfolio .navigation-prev-next .navigation-prev a, .portfolio .navigation-prev-next .navigation-next a { font-size: 11px; }
}

@media only screen and (max-width: 414px) {
	.single-portfolio .portfolio .vc_row.wpb_row.vc_row-fluid { width: 384px; }
	.play_icon { background: url("../img/Video-Play-Icon.png") no-repeat scroll 15px 15px / 45px auto; }
	.video_hover:hover .play_icon { opacity: 1 !important; visibility: visible !important; z-index: 9999 !important; background: url("../img/Video-Play-Icon-Hover.png") no-repeat scroll 15px 15px / 45px auto !important; }
}

@media only screen and (max-width: 400px) {
	.blogroll.layout-grid-3 section { margin-right: 0; }
	.blogroll.layout-grid-3 .blogroll-item { width: auto; margin-right: 0; float: none; }
}

@media only screen and (max-width: 375px) {
	.single-portfolio .portfolio .vc_row.wpb_row.vc_row-fluid { width: 347px; }
	.content h1 { font-size: 150%; }
	.page-title-wrapper.title-margins-medium .container-inner,  .page-title-wrapper.title-margins-large .container-inner,  .page-title-wrapper.title-margins-xlarge .container-inner,  .page-title-wrapper.title-margins-xxlarge .container-inner { padding: 8vw 0 17vw !important; }
}

@media only screen and (max-width: 380px) {
	.gallery-sliced .img-box.img-1,  .gallery-sliced .img-box.img-2,  .gallery-sliced .img-box.img-3,  .gallery-sliced .img-box.img-4,  .gallery-sliced .img-box.img-5 { float: none; width: auto; margin-right: 0; height: auto !important; margin-bottom: 0.5em; }
	.gallery-masonry .items,  .gallery-grid .items { margin: 0; }
	.gallery-masonry .item,  .gallery-grid .item { float: none; width: auto !important; margin-bottom: 0.5em; }
	.gallery-masonry .item img,  .gallery-grid .item img { margin: 0 auto; }
	
	/* Standard Gallery */		
	.gallery { margin: 1em 0; }
	.gallery .gallery-item { float: none; width: auto !important; margin: 1em 0; text-align: center; }
	.gallery .gallery-item img { width: auto; }
	blockquote, .blockquote { font-size: 100%; }
}

@media only screen and (max-width: 360px) {
	.single-portfolio .portfolio .vc_row.wpb_row.vc_row-fluid { width: 330px; }
}

@media only screen and (max-width: 325px) {
	.single-portfolio .portfolio .vc_row.wpb_row.vc_row-fluid { width: 290px; }
}
