*.log
.idea/
.htaccess
snapshot_ividf.sql
sitemap.xml
sitemap.xml.gz
srdb/
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/mu-plugins/
wp-content/plugins/ividf-patent-crawler/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/mysql.sql