<div class="request-list">
{% for request in requests %}
<ul class="request">
    {% if request.title is defined %}<li class="request-title">{{ request.title }}</li>{% endif %}
    {% if request.rfi_id is defined %}<li class="request-id">{{ request.rfi_id }}</li>{% endif %}
    {% if request.summary is defined %}<li class="request-summary">{{ request.summary }}</li>{% endif %}
</ul>
{% endfor %}
</div>