.cubano {
    font-family: "CubanoRegular", sans-serif !important;
}

/** new landing page **/
.page-id-3103 .header-slider > a {
    display: none;
}

.om_theme .wpb_content_element.reduce-margin-top {
    margin-top: -40px;
}


/** form **/
.page-id-3103 #gform_2 input[type=text], .page-id-3103 #gform_2 textarea,
.page-id-3159 #gform_2 input[type=text], .page-id-3159 #gform_2 textarea{
    box-sizing: border-box;
    color: #FFF;
    border-color: #FFF;
    padding: 12px;
    background-color: rgba(255,255,255,0.3);
}
.page-id-3103 #gform_2 ::-webkit-input-placeholder, .page-id-3159 #gform_2 ::-webkit-input-placeholder{
    color: #FFf;
    opacity:1;
}
.page-id-3103 #gform_2 :-moz-placeholder, .page-id-3159 #gform_2 :-moz-placeholder { /* Firefox 18- */
    color: #FFf;
    opacity:1;
}
.page-id-3103 #gform_2 ::-moz-placeholder, .page-id-3159 #gform_2 ::-moz-placeholder {  /* Firefox 19+ */
    color: #FFf;
    opacity:1;
}
.page-id-3103 #gform_2 :-ms-input-placeholder, .page-id-3159 #gform_2 :-ms-input-placeholder {
    color: #FFf;
    opacity:1;
}
.question-form .gform_wrapper {
    margin-bottom: 0;
}
.question-form form {
    max-width: 600px;
}
.question-form .wpb_wrapper {
    margin-left: 10px;
}

@media all and (max-width: 769px) {
    .om_theme .wpb_content_element.reduce-margin-top {
        margin-top: -30px;
    }
    .vc_separator.vc_sep_width_50 {
        width: 100%;
        text-align: center;
    }
    .vc_separator .vc_sep_holder {
        display: none !important;
    }
    .vc_separator h4 {
        white-space: normal !important;
    }
}

/** traditional snacks **/
.page-id-3159 div.om-wpb_row:nth-child(3):before {
    content: " ";
    width:100%;
    height: 21px;
    background-image: url("img/cloud.png");
    background-repeat: repeat-x;
    display: block;
    border-bottom:8px solid #FFF;
}

.page-id-3159 .vc_om-counter-title {
    font-family: "Raleway", sans-serif !important;
}