.logo-menu-wrapper {
    clear: both;
}
.logo-menu-wrapper .logo-box {
    padding-right: 30px;
}
.header-layout-1 .primary-menu > li > a, .header-layout-3 .primary-menu > li > a {
    padding: 13px;
}

.cubano {
    font-family: "CubanoRegular", sans-serif !important;
}

/** Animal Tracking - RFI **/

.page-id-3508 nav .talk a,
.page-id-3508.om_theme .vc_btn3.vc_btn3-size-xlg
.page-id-3508.om_theme .vc_btn3.vc_btn3-style-3d,
.page-id-3508.om_theme .vc_btn3.vc_btn3-style-flat,
.page-id-3508 input[type="button"], .page-id-3508 input[type="submit"], .page-id-3508 input[type="reset"]{
    font-family: "Bevan", sans-serif !important;
    background-color:#dd8f4b;
}


/** new landing page **/
.page-id-3103 .header-slider > a {
    display: none;
}

.om_theme .wpb_content_element.reduce-margin-top {
    margin-top: -40px;
}

/** Gravity forms - RFI Home **/

.page-id-3512 #gform_6 input[type=text], .page-id-3512 #gform_6 textarea {
    box-sizing: border-box !important;
    color: #FFF;
    border-color: #4d4d4d !important;
    padding: 12px !important;
    background-color: rgba(255,255,255,0.3) !important;
}

.page-id-3512 #gform_6 ::-webkit-input-placeholder {
    color: #4d4d4d;
    opacity:1;
}

.page-id-3512 #gform_6 ::-webkit-input-placeholder, .page-id-3512 #gform_6 :-moz-placeholder, .page-id-3512 #gform_6 :-moz-placeholder { /* Firefox 18- */
    color: #4d4d4d;
    opacity:1;
}
.page-id-3512 #gform_6 ::-webkit-input-placeholder, .page-id-3512 #gform_6 ::-moz-placeholder {  /* Firefox 19+ */
    color: #4d4d4d;
    opacity:1;
}
.page-id-3512 #gform_6 ::-webkit-input-placeholder, .page-id-3512 #gform_6 :-ms-input-placeholder {
    color: #4d4d4d;
    opacity:1;
}
/** Gravity forms - Animal Tracking **/

.page-id-3508 #gform_6 input[type=text], .page-id-3508 #gform_6 textarea,
.page-id-3508 #gform_3 input[type=text], .page-id-3508 #gform_3 textarea,
.page-id-3508 #gform_2 input[type=text], .page-id-3508 #gform_2 textarea,
.page-id-3508 #gform_5 input[type=text], .page-id-3508 #gform_5 textarea{
    box-sizing: border-box;
    color: #FFF;
    border-color: #FFF;
    padding: 12px;
    background-color: rgba(255,255,255,0.3);
}
.page-id-3508 #gform_5 ::-webkit-input-placeholder, .page-id-3508 #gform_3 ::-webkit-input-placeholder, .page-id-3508 #gform_2 ::-webkit-input-placeholder{
    color: #FFf;
    opacity:1;
}
.page-id-3508 #gform_5 ::-webkit-input-placeholder, .page-id-3508 #gform_3 :-moz-placeholder, .page-id-3508 #gform_2 :-moz-placeholder { /* Firefox 18- */
    color: #FFf;
    opacity:1;
}
.page-id-3508 #gform_5 ::-webkit-input-placeholder, .page-id-3508 #gform_3 ::-moz-placeholder, .page-id-3508 #gform_2 ::-moz-placeholder {  /* Firefox 19+ */
    color: #FFf;
    opacity:1;
}
.page-id-3508 #gform_5 ::-webkit-input-placeholder, .page-id-3508 #gform_3 :-ms-input-placeholder, .page-id-3508 #gform_2 :-ms-input-placeholder {
    color: #FFf;
    opacity:1;
}
.question-form .gform_wrapper {
    margin-bottom: 0;
}
.question-form form {
    max-width: 600px;
}
.question-form .wpb_wrapper {
    margin-left: 10px;
}


/** Gravity forms - RFI Home **/

.page-id-3512 #gform_6 input[type=text], .page-id-3512 #gform_6 textarea {
    box-sizing: border-box !important;
    color: #FFF;
    border-color: #4d4d4d !important;
    padding: 12px !important;
    background-color: rgba(255,255,255,0.3) !important;
}

.page-id-3512 #gform_6 ::-webkit-input-placeholder {
    color: #4d4d4d;
    opacity:1;
}

.page-id-3512 #gform_6 ::-webkit-input-placeholder, .page-id-3512 #gform_6 :-moz-placeholder, .page-id-3512 #gform_6 :-moz-placeholder { /* Firefox 18- */
    color: #4d4d4d;
    opacity:1;
}
.page-id-3512 #gform_6 ::-webkit-input-placeholder, .page-id-3512 #gform_6 ::-moz-placeholder {  /* Firefox 19+ */
    color: #4d4d4d;
    opacity:1;
}
.page-id-3512 #gform_6 ::-webkit-input-placeholder, .page-id-3512 #gform_6 :-ms-input-placeholder {
    color: #4d4d4d;
    opacity:1;
}
/** Gravity forms - RFI Transformational Snacking **/

.page-id-3512 #gform_6 input[type=text], .page-id-3512 #gform_6 textarea,
.page-id-3103 #gform_3 input[type=text], .page-id-3103 #gform_3 textarea,
.page-id-3159 #gform_2 input[type=text], .page-id-3159 #gform_2 textarea,
.page-id-3346 #gform_5 input[type=text], .page-id-3346 #gform_5 textarea{
    box-sizing: border-box;
    color: #FFF;
    border-color: #FFF;
    padding: 12px;
    background-color: rgba(255,255,255,0.3);
}
.page-id-3346 #gform_5 ::-webkit-input-placeholder, .page-id-3103 #gform_3 ::-webkit-input-placeholder, .page-id-3159 #gform_2 ::-webkit-input-placeholder{
    color: #FFf;
    opacity:1;
}
.page-id-3346 #gform_5 ::-webkit-input-placeholder, .page-id-3103 #gform_3 :-moz-placeholder, .page-id-3159 #gform_2 :-moz-placeholder { /* Firefox 18- */
    color: #FFf;
    opacity:1;
}
.page-id-3346 #gform_5 ::-webkit-input-placeholder, .page-id-3103 #gform_3 ::-moz-placeholder, .page-id-3159 #gform_2 ::-moz-placeholder {  /* Firefox 19+ */
    color: #FFf;
    opacity:1;
}
.page-id-3346 #gform_5 ::-webkit-input-placeholder, .page-id-3103 #gform_3 :-ms-input-placeholder, .page-id-3159 #gform_2 :-ms-input-placeholder {
    color: #FFf;
    opacity:1;
}
.question-form .gform_wrapper {
    margin-bottom: 0;
}
.question-form form {
    max-width: 600px;
}
.question-form .wpb_wrapper {
    margin-left: 10px;
}

@media all and (max-width: 769px) {
    .om_theme .wpb_content_element.reduce-margin-top {
        margin-top: -30px;
    }
    .vc_separator.vc_sep_width_50 {
        width: 100%;
        text-align: center;
    }
    .vc_separator .vc_sep_holder {
        display: none !important;
    }
    .vc_separator h4 {
        white-space: normal !important;
    }
}

/** traditional snacks **/
.page-id-3159 .header-slider {
    border-bottom: none;
}



.page-id-3159 nav .talk a,
.page-id-3159.om_theme .vc_btn3.vc_btn3-size-xlg
.page-id-3159.om_theme .vc_btn3.vc_btn3-style-3d,
.page-id-3159.om_theme .vc_btn3.vc_btn3-style-flat,
.page-id-3159 input[type="button"], .page-id-3159 input[type="submit"], .page-id-3159 input[type="reset"]{
    font-family: "CubanoRegular", sans-serif !important;
}
.page-id-3159 div.om-wpb_row:nth-child(3):before {
    content: " ";
    width:100%;
    height: 21px;
    background-image: url("img/cloud.png");
    background-repeat: repeat-x;
    display: block;
    border-bottom:8px solid #FFF;
}

.page-id-3159 .vc_om-counter-title {
    font-family: "Raleway", sans-serif !important;
}

@media (max-width: 600px) {
    .page-id-3159 h2 {
        font-size: 24px !important;
    }
}

/** blog teaser images **/
.link-zoom {
    display: none;
}

.post-media .hover-image-extra .link-url {
    margin-left: -25px;
}

/** news page fixes **/
/**.header-layout-3 {
    background-color: #FFF;
}*/
.page-title-wrapper {
    clear: both;
}
.container::before, .container::after {
    content: " ";
    display: table;
}
.container::after {
    clear: both;
}

/** technologu innovations **/
.inline-images > .wpb_column {
    text-align: center;
    width: 100%;
}
.inline-images > .wpb_column > .wpb_wrapper {
    display: inline-block;
}
.inline-images .wpb_single_image {
    float: left;
    max-width: 33.33%;
}
/*
.vc_row-fluid.inline-images {
    margin-left: 0;
    margin-right: 0;
}
#inline-images .om-c-container-inner {
    margin: 0;
}
.inline-images .wpb_column {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.inline-images {
    text-align: center;
}
.inline-images .wpb_single_image {
    margin: 60px 0;
}
.inline-images .wpb_single_image img {
    width: 100%;
}
.inline-images .wpb_single_image {
    margin: 0;
}
@media all and (min-width: 1200px) {
    .vc_row-fluid.inline-images > div:first-of-type {
        margin-left: 12.5%;
    }
}
*/

.video_hover.centered .play_icon, .video_hover.centered .play_icon {
    background-image: url("../ividf/img/Video-Play-Icon.png") !important;
    background-position: 0 !important;
    height: 77px !important;
    width: 76px !important;
    position: absolute !important;
    top: calc(50% - 38px) !important;
    left: calc(50% - 36px) !important;
}
.video_hover.centered:hover .play_icon, .page-id-85 .video_hover.centered:hover .play_icon {
    background-image: url("../ividf/img/Video-Play-Icon-Hover.png") !important;
    background-position: 0 !important;
    height: 77px !important;
    width: 76px !important;
    position: absolute !important;
    top: calc(50% - 38px) !important;
    left: calc(50% - 36px) !important;
}

/** about **/
#about {
    background-position: bottom center !important;
}


@media all and (min-width: 768px) and (max-width: 900px) {
    .vc_icon_element + .wpb_text_column h1 {
        font-size: 200% !important;
    }
    .vc_icon_element + .wpb_text_column h1 + h5 {
        font-size: 16px !important;
    }
}

/** home **/
.heading-1 h1 {
    font-size: 36px !important;
    margin-bottom: 1.5em !important;
}

@media all and (max-width: 767px) {
    .ompf-preview-layout-full-hover .ompf-portfolio-thumb a .ompf-desc-wrapper,
    .ompf-preview-layout-full-hover-2 .ompf-portfolio-thumb .ompf-desc-wrapper {
        background-color: rgba(14,115,163,0.85);
    }
    .ompf-preview-layout-full-hover .ompf-portfolio-thumb .ompf-desc-wrapper,
    .ompf-preview-layout-full-hover-2 .ompf-portfolio-thumb .ompf-desc-wrapper {
        opacity: 1;
    }
    .ompf-preview-layout-full-hover .ompf-portfolio-thumb a .ompf-desc-wrapper::before {
        opacity: 0.3;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    .ompf-preview-layout-full-hover .ompf-portfolio-thumb a .ompf-title {
        top: 0;
        opacity: 1;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    .ompf-preview-layout-full-hover .ompf-portfolio-thumb a .ompf-text {
        top: 0;
        opacity: 0.8;
        -webkit-transition: all 0.3s ease 0.15s;
        transition: all 0.3s ease 0.15s;
    }
}
@media all and (min-width: 768px) {
    .heading-1 h1 {
        font-size: 52px !important;
        margin-bottom: 1em !important;
    }
}
/* home heading adjustment */
.heading-1 h1 {
    font-size: 36px !important;
    margin-bottom: 1.5em !important;
}

@media all and (max-width: 767px) {
    .heading-1 h1 {
        margin-top: -6px !important;
        margin-bottom: 36px !important;
    }
    .vc_row .vc_custom_1458331351804 {
        margin-top: 0 !important;
    }
    .vc_row .vc_custom_1458326950970 {
        margin-top: -7px !important;
        margin-bottom: -20px !important;
    }
    .vc_row .vc_custom_1458324973915 {
        margin-top: -18px !important;
        margin-bottom: -98px !important;
    }
    .vc_row  .vc_custom_1440799572005 {
        margin-bottom: -50px !important;
    }
    .vc_row .vc_custom_1440807315909 {
        margin-bottom: -40px !important;;
    }
    .vc_row .vc_column_delimiter-vline {
        margin-top: -44px !important;
        margin-bottom: -18px !important;
    }
    .first-cta .vc_custom_1440811513097 {
        margin-bottom: -16px !important;
    }
    .vc_row .vc_custom_1459290107601 {
        margin-top: 0 !important;;
        margin-bottom: -30px !important;
    }
    .vc_row .vc_custom_1459290107601 .wpb_wrapper {
        margin-bottom: -30px !important;
    }
    .vc_row .vc_custom_1459290107601 h1 {
        margin-bottom: -0 !important;
        margin-top:  16px !important;
    }
    .vc_row .vc_custom_1458325000243 {
        margin-top: -18px !important;
        margin-bottom: -30px !important;
    }
    .vc_row .vc_custom_1443505411445 {
        margin-top: -32px !important;
        margin-bottom: -40px !important;;
    }
    .second-cta .vc_custom_1440811513097 {
        margin-bottom: -44px !important;
    }
    .vc_row .vc_custom_1442346470053 {
        margin-bottom: -65px !important;;
    }
}

/** translation **/
#select_language {
    text-align: right;
    font-size: 15px;
    font-weight: 500;
    font-family: Raleway;
}
#lang_sel_click {
    float: right;
}

#lang_sel_click li {
    width: auto;
    padding-left: 15px;
}
#lang_sel_click > ul {
    margin: 0;
    padding: 0;
}
#lang_sel_click a.lang_sel_sel, #lang_sel_click ul {
    display: inline-block;
    list-style-type: none;
}
#lang_sel_click a.lang_sel_sel, #lang_sel_click ul ul a {
    background: none;
    border: none;
    font-size: 15px;
    font-weight: 500;
    font-family: Raleway;
}
#lang_sel_click ul ul {
    border: none;
    padding: 0;
}
#lang_sel_click a:hover, #lang_sel_click ul ul a:hover, #lang_sel_click :hover > a, #lang_sel_click ul ul :hover > a {
    background: none;
    text-decoration: none;
}

#select_language,
.menu-stuck #select_language,
.custom-header-bg-transparent .menu-stuck #select_language {
    color: #4d4d4d;
}
#lang_sel_click a.lang_sel_sel, #lang_sel_click ul ul a,
.menu-stuck #lang_sel_click a.lang_sel_sel, .menu-stuck  #lang_sel_click ul ul a,
.custom-header-bg-transparent .menu-stuck #lang_sel_click a.lang_sel_sel, .custom-header-bg-transparent .menu-stuck #lang_sel_click ul ul a  {
    color: #4d4d4d;
}
#lang_sel_click a.lang_sel_sel:hover, #lang_sel_click ul ul a:hover,
.menu-stuck #lang_sel_click a.lang_sel_sel:hover, .menu-stuck #lang_sel_click ul ul a:hover,
.custom-header-bg-transparent .menu-stuck #lang_sel_click a.lang_sel_sel:hover, .custom-header-bg-transparent .menu-stuck #lang_sel_click ul ul a:hover {
    color: #4d4d4d;
}
#lang_sel_click a:hover, #lang_sel_click ul ul a:hover, #lang_sel_click :hover > a, #lang_sel_click ul ul :hover > a,
.menu-stuck #lang_sel_click a:hover, .menu-stuck #lang_sel_click ul ul a:hover, .menu-stuck #lang_sel_click :hover > a, .menu-stuck #lang_sel_click ul ul :hover > a,
.custom-header-bg-transparent .menu-stuck #lang_sel_click a:hover, .custom-header-bg-transparent .menu-stuck #lang_sel_click ul ul a:hover, .custom-header-bg-transparent .menu-stuck #lang_sel_click :hover > a, .menu-stuck #lang_sel_click ul ul :hover > a {
    color: #4d4d4d;
}
#lang_sel_click ul ul a span,
.menu-stuck #lang_sel_click ul ul a span,
.custom-header-bg-transparent .menu-stuck #lang_sel_click ul ul a span {
    color: #4d4d4d;
}

@media all and (min-width: 768px) {
    .custom-header-bg-transparent #select_language {
        color: #FFF;
    }
    .custom-header-bg-transparent #lang_sel_click ul ul a span {
        color: #FFF;
    }
    .custom-header-bg-transparent #lang_sel_click a.lang_sel_sel:hover, #lang_sel_click ul ul a:hover {
        color: #FFF;
    }
    .custom-header-bg-transparent #lang_sel_click a:hover, #lang_sel_click ul ul a:hover, #lang_sel_click :hover > a, #lang_sel_click ul ul :hover > a {
        color: #FFF;
    }
    .custom-header-bg-transparent #lang_sel_click a.lang_sel_sel, #lang_sel_click ul ul a {
        color: #FFF;
    }
}
